<%# チャットルーム上側のレイアウト %>
<div class= "chat_top">

  <%# チャット名のレイアウト %>
  <div class= "group_name">
    グループ名
  </div>
  <%# チャット終了のレイアウト %>
  <div class= "end_chatroom">
    <a href="#">チャットを終了する</a> 
  </div>

</div>

<%# チャットルーム中部のレイアウト %>
<div class= "chat_middle">
  <%= render partial: 'message', collection: @messages %>
</div>

<%# チャットルーム下側のレイアウト %>
<%= form_with model: [@room, @message], class: 'chat_down', local: true do |f| %>
  <div class ="form">
    <%= f.text_field :content, class: 'text', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
    <%= f.submit '送信', class: 'bottan' %>
<% end %>